<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="#8b0000"></body>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to CSU EAST BAY <%= title %></p>
  </body>
</html>
